.box{
  font-family: 'Cabin', sans-serif;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}
.box:hover{ filter: drop-shadow(8px 8px 10px #0B2545); }
.box:before,
.box:after{
  content: '';
  background: linear-gradient(45deg, #0B2545, #007FFF, #CE6D8B);
  width: 50%;
  height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.9);
  opacity: 0.5;
  transform: skewX(-40deg);
  position: absolute;
  top: 0;
  left: 150%;
  z-index: 1;
  transition: all 0.4s;
}
.box:hover:before{ left: 65%; }
.box:after{
  left: -150%;
  opacity: 0.4;
}
.box:hover:after{ left: -35%; }
.box img{
  width: 100%;
  height: 100%;
  transform: scale(1.02);
  transition: all 0.25s;
}
.box:hover img{
  transform: scale(1);
  filter: blur(3px) hue-rotate(50deg);
}
.box .box-content{
  color: #EEF1EF;
  width: 70%;
  transform: translateX(-50%) translateY(-50%) scale(0);
  text-align: center;
  padding: 10px;
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  transition: all 0.3s ease 0s;
}
.box:hover .box-content{
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}
.box .title{
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 0 0 4px #000;
  margin: 0 0 3px 0;
}
.box .post{
  font-size: 15px;
  font-style: italic;
  text-transform: capitalize;
  text-shadow: 0 0 4px #000;
  margin: 0 0 10px;
  display: block;
}
.box .icon{
  padding: 0;
  margin: 0;
  list-style: none;
}
.box .icon li{
  display: inline-block;
  margin: 0 5px 0 0;
}
.box .icon li a{
  color: #292929;
  background: #fff;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
  height: 35px;
  width: 35px;
  display: block;
  transition: all 0.3s;
}
.box .icon li a:hover{
  color: #fff;
  background: #2f195f;
  text-shadow: 0 0 2px #fff;
}
@media only screen and (max-width:990px){
  .box{ margin-bottom: 30px; }
}
@media only screen and (max-width:479px){
  .box .title{ font-size: 20px; }
}